body {
    background-color:#cccccc;
    padding-top: 80px;
}

.login {
    width: 550px;
    padding: 0px 10px 10px 10px;
    margin: 0 auto;
}

.container-pedido {
    background-color: #d7c7b6;
    border-color: #c1c1c1;
    border-radius: 15px;
    box-shadow: 2px 1px 5px 0px;
    padding: 10px 8px 10px 8px;
}
.hidden {
    display:none;
}
.green{
    background-color:darkseagreen;
    color:white;
}
.red{
    background-color:indianred;
    color: black;
}