@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Registrar Pedido", "Registro", new { controller = "Pedido" }, new { type = "submit", @class = "btn btn-danger" })
    @Html.ActionLink("Lista de Pedidos", "Listagem", new { controller = "Pedido" }, new { type = "submit", @class = "btn btn-danger" })
</div>