@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style/styleBody.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Main/Index">Camelô Ninja</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-right">
                    <li>
                        <a class="btn btn-default btn-sm navbar-btn" href="/Main/Login">Entrar</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>
