@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Style/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style/styleBody.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header text-center">
                <a class="navbar-brand" href="/Main/Index"> Camelô Ninja</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pedido <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Pedido/Registro">Novo pedido</a></li>
                            <li><a href="/Pedido/Listagem">Lista pedidos</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Usuario/Login">Entrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    <script src="~/Content/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Content/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
