@model LojaNinja.MVC.Models.UsuarioModel
@{
    ViewBag.Title = "CadastroEfetuado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-pedido">
    <h2>CadastroEfetuado</h2>
    <h4>Usuario @Model.Nome cadastrado</h4>
    <h5>Email @Model.Email</h5>
</div>

