body{
            background: url(http://wallpaperswide.com/download/street_fighter_v_2015-wallpaper-1280x768.jpg) top no-repeat;
            font-family: arial;
}
.menu{
             background:rgba(171, 163, 163, 0.6);
             color: white;
             width: 33em;
             padding: 20px;
             margin: 250px auto;
             margin-bottom: 80px;
             border: 1px solid white;
             border-radius: 10px;
}
.menu a{
  color:white;
            text-decoration: none;
}
.menu span{
            padding: 32px;
}
.container{
            background: #EDEDED;
            margin: 0px auto;
            width: 650px;
}
.container div{
            padding: 30px;
            overflow-y:auto;
}
.faixa{
            background:#444444;
            color: #EDEDED;
            padding:30px;
}
